body {
  font-family: Arial, sans-serif;
}

#main-menu,
#game-container {
  text-align: center;
}

#rule-container,
#difficulty-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  font-size: 18px;
  margin: 5px;
}

#question {
  font-size: 24px;
  margin-bottom: 20px;
}

#score {
  font-size: 20px;
  margin-bottom: 20px;
}

#answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#solution {
  margin-top: 20px;
}
