body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.game-container {
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1200px; /* Increase the width of the game screen */
}

.option-btn {
    background-color: limegreen;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 250px; /* Increase the width of the boxes */
    height: 80px; /* Increase the height of the boxes */
    line-height: 80px; /* Vertically center the text */
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    white-space: nowrap; /* Prevents line breaks inside the button */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Shows "..." for overflowing text */
}



.option-btn:hover {
    background-color: #45a049;
}

.menu-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #45a049;
}

